#cart-header #login-block {
  color: #FFF;
}
#cart-header #login-block #login-image {
  float: left;
  width: 50px;
  text-align: center;
  font-size: 29px;
}
#cart-header #login-block #login-text {
  float: left;
  width: 400px;
  line-height: 16px;
  font-weight: bold;
}
#cart-header #login-block #login-text a {
  color: #FFF;
  padding-right: 10px;
  font-size: 11px;
  font-weight: 100;
  text-decoration: underline;
}
#cart {
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
}
#cart th {
  text-align: left;
  font-size: 12px;
}
#cart th:first-child {
  padding-left: 10px;
}
#cart td {
  position: relative;
}
#cart td .thumbnail {
  height: 65px;
}
#cart td .title {
  font-weight: bold;
  font-size: 16px;
}
#cart td .option {
  font-size: 12px;
}
#cart td .remove-item {
  border: 0;
  background: none;
  padding: 0;
  font-size: 11px;
  text-decoration: underline;
  position: absolute;
  bottom: 4px;
}
#cart td input.quantity {
  margin: 0px;
  border: 0;
  border-radius: 0;
  height: 35px;
  text-align: center;
  width: 35px;
}
#cart td:first-child {
  padding-left: 10px;
}
#cart td.quantity {
  padding-top: 17px;
  padding-bottom: 0;
}
#cart td.price {
  vertical-align: middle;
}
