#cart-header{
	width: 80%;
	margin-bottom: 15px;
	.clearfix();
	#login-block{
		float: left;
		color: #FFF;
		.clearfix();
		margin-bottom: 20px;
		padding-top: 18px;
		#login-image{
			float: left;
			width: 50px;
			text-align: center;
			font-size: 29px;
		}
		#login-text{
			float: left;
			width: 400px;
			line-height: 16px;
			font-weight: bold;
			a{
				color: #FFF;
				padding-right: 10px;
				font-size: 11px;
				font-weight: 100;
				text-decoration: underline;
			}
		}
	}
	#coupon-block{
		float: right;
		padding-top: 18px;
				label{
			color: #FFF;
			font-size: 12px;
			margin: 0;
			text-align: right;
			padding-right: 37px;
			line-height: 14px;
		}
		.input-append{
			height: 38px;
			margin: 0;
			padding: 0;
		}
		input{
			margin: 0px;
			height: 100%;
			padding: 0 10px;
			background: #FFF;
			background: rgba(255,255,255,.5);
		}
		.btn{
			width: 107px;
			font-size: 11px;
			text-transform: uppercase;
			text-align: center;
			padding: 0;
			height: 100%;
			background: #FFF;
			background: rgba(255,255,255,0.8);
			color: rgb(44, 44, 44);
		}

	}

}
.single-line-input{
	.input-append{
		height: 38px;
		margin: 0;
		padding: 0;
	}
	input{
		margin: 0px;
		height: 100%;
		padding: 0 10px;
		background: #FFF;
		background: rgba(255,255,255,.5);
	}
	.btn{
		width: 107px;
		font-size: 11px;
		text-transform: uppercase;
		text-align: center;
		padding: 0;
		height: 100%;
		background: #FFF;
		background: rgba(255,255,255,0.8);
		color: rgb(44, 44, 44);
	}
}
#gift-cards{
	color: #FFF;
	width: 100%;
	clear: left;
	.clearfix();
}
#cart{
	float: left;
	width: 75%;
	color: #333333;
	thead,tbody{
		background: #FFF;
		background: rgba(255,255,255,.9);
	}
	th{
		text-align: left;
		font-size: 12px;
		&:first-child{
			padding-left: 10px;
		}
	}
	td{
		position: relative;
		.thumbnail{
			height: 65px;
		}
		.title{
			font-weight: bold;
			font-size: 16px;
		}
		.option{
			font-size: 12px;
		}
		.remove-item{
			border: 0;
			background: none;
			padding: 0;
			font-size: 11px;
			text-decoration: underline;
			position: absolute;
			bottom: 4px;
		}
		input.quantity{
			margin: 0px;
			border: 0;
			border-radius: 0;
			height: 35px;
			text-align: center;
			width: 35px;
		}
		&:first-child{
			padding-left: 10px;
		}
		&.quantity{
			padding-top: 17px;
			padding-bottom: 0;
			.update{
				input{
					background: none;
					font-size: 11px;
					text-decoration: underline;
					padding: 0;
					margin: 0;
				}
				text-align: center;
				display: none;
			}
		}
		&.price{
			vertical-align: middle;
		}
	}
}
#checkout-block{
	float: right;
	width: 15%;
	#checkout{
		background: @gold;
		color: #FFF;
		text-transform: uppercase;
		width: 100%;
		padding: 25px;
		margin-bottom: 10px;
		&:hover{
			background: @goldHover;
		}
	}
	table{
		font-size: 12px;
		color: #FFF;
		td{
			border: 0;
			padding: 0;
		}
	}
}
.checkout{
	input{
		padding: 10px 6px;
		&:focus{
			background: rgb(231, 231, 231);
		}
	}
	select{
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		border-radius: 0;
		border: 0;
		padding: 5px 6px;
		height: 100%;
		&:focus{
			background: rgb(231, 231, 231);
		}
	}
	.continue-container{
		float: left;
		width: 230px;
		padding-left: 15%;
		table{
			color: #FFF;
			font-size: 12px;
			td{
				border: 0;
				padding: 0 3px;
			}
		}
	}
}
.step-2{
	color: #FFF;
	position: relative;
	.continue-container{
		width: 310px;
		position: absolute;
		right: 0;
		top: 50px;
		.btn{
			width: 100%;
			margin-top: 0;
		}
		.insurance-alert{
			background: #999;
			background: rgba(255, 255, 255, 0.2);
			padding: 15px;
			margin-bottom: 10px;
			a{
				color: @gold;
			}
		}
	}
}
#main-container .billing.checkout{
  	.continue-container{
		float: right;
		padding-left: 40px;
	}
	.existing{
		padding-left: 40px;
		.btn-gold{
			padding: 25px 0;
			font-size: 13px;
		}
		#new-card{
			background: #FFF;
			padding: 10px;
			color: @gold;
			margin-top: 10px;
		}
		
	}
}
.step-4.checkout {
  .continue-container{
    float: right;
	padding: 0;
	width: 25%;
	max-width: 181px;
	a{
		width: auto;
	}
  }
}
.shipping-info{
	background: #FFF;
	background: rgba(255, 255, 255, 0.1);
	color: rgb(255, 255, 255);
	padding: 9px;
	.btn{
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.1);
		color: rgb(22, 22, 22);
		color: rgba(255, 255, 255, 1);
		text-shadow: none;
		padding: 8px;
		margin-bottom: 15px;
		border: 0;
		font-weight: 500;
		box-shadow: none;
	}
}
h2{
	font-size: 24px;
	font-weight: 100;
	text-transform: uppercase;
	margin: 25px 0;
	.btn-gold{
		float: none;
		width: auto;
		font-size: 12px;
		padding: 10px;
		margin-left: 15px;
		position: relative;
		top: -2px;
	}
}
.order-placed{
	color: #FFF;
	.order-info{
		background: #CCC;
		background: rgba(255, 255, 255, 0.1);
		padding: 0 8px 8px 8px;
		margin-bottom: 10px;
		box-sizing: border-box;
		h3{
			font-weight: 100;
			text-align: center;
			background: #CCC;
			background: rgba(255, 255, 255, 0.1);
		}
	}
	#totals{
		margin-top: 17px;
		table{
			font-size: 12px;
			color: #FFF;
			td{
				position: relative;
				border: 0;
				padding: 0;
				&:first-child{
					padding-left: 10px;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#cart-header{
		#login-block{
			#login-text{
				width: 190px;
			}
		}
	}
	#checkout-block{
		width: 19%;
	}
	.checkout{
		.continue-container{
			padding-left: 23px;
		}
	}
	.step-2.checkout{
		.shipping-info{
			margin-top: 10px;
 		}
		.continue-container{
			position: static;
			margin-left: 0;
			padding-left: 0;
			width: 100%;
		}
	}
	.step-4.checkout{
		#cart{
			width: 100%;
			float: none;
		}
		.continue-container{
			float: none;
			width: 100%;
			margin-left: 0;
			max-width: none;
			a{
				width: 100%;
				box-sizing: border-box;
				margin-bottom: 10px;
			}
		}
	}
}
@media (max-width: 320px) {
	#cart-header{
		width: 100%;
		#login-block{
			#login-text{
				width: 190px;
			}
		}
		#coupon-block{
			input{
				width: 193px;
			}
			label{
				padding-right: 37px;
			}
		}
	}
	#checkout-block{
		width: 100%;
	}
	#cart{
		width: 100%;
		td .remove-item{
			position: static;
		}
	}

	#main-container{
		.shipping-info{
			width: 100%;
			margin-top: 10px;
		}
		.continue-container{
			width: 100%;
			margin: 0;
		}
	}
	.step-4.checkout{
		.continue-container{
			a.btn{
				width: 100%;
				box-sizing: border-box;
			}
		}
	}
}

//Custom packages
#package-container{
	margin-top: 10px;
	margin-left: 0;
	.custom-package{
		list-style: none;
		.box{
			background: #000;
			max-width: 76px;
			padding: 10px;
			img{
				padding: 25% 0;
				width: 100%;
			}
		}
		.clearfix();
		background: rgba(255,255,255,0.8);
		padding: 10px 0;
		margin-bottom: 20px;
		h4{
			margin-top: 0;
		}
	}
}