#filters{
  clear: left;
  background: @darkgray;
  color:  #FFF;
  text-transform: uppercase;
  padding: 0 10px 5px;
  .clearfix();
  li{
    list-style: none;
    float: left;
  }
  #filter-categories{
    width: 221px;
    margin: 13px 0 0;
    font-size: 10px;
    float: left;
    .clearfix();
    li{
      float: left;
      padding-right: 26px;
      vertical-align: top;
      cursor: pointer;
      color: rgb(133, 133, 133);
      .transition(all .2s ease-in-out);
      &:hover{
        color: #FFF;
      }
      &.filter{
        font-size: 13px;
        padding-left: 2px;
        padding-bottom: 10px;
        width: 96%;
        padding-right: 0;
        span{
          font-size: 12px;
          color: #CCC;
          font-weight: 100;
          text-transform: none;
          padding-right: 45px;
        }
        .icon-container{
          top: 2px;
          width: 26px;
          i{
            padding-right: 10px;
          }
        }
        i{
          font-size: 14px;
        }
        &.selected{
          color: #FFF;
        }
      }
      &.active{
        i{
          color: @gold;
        }
      }
      i{
        font-size: 10px;
        margin-right: 10px;
        font-style: normal;
      }
      .icon-color{
        padding-left: 26px;
        span:first-child{top: 7px;left:4px;}
        span{
          top: 0px;
          left: 0px;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 6px;
          height: 12px;
          width: 12px;
          position: absolute;
          border: 1px solid #FFF;
        }
        span:last-child{top: 0px;left: 8px;}
      }
      .icon-container{
        width: 15px; 
        text-align: center;
        position: relative;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
    }
    #brand-filter{
      border-bottom: 1px solid rgb(44, 41, 41);
      margin-bottom: 4px;
    }
  }
  .divider{
    background: rgba(255, 255, 255, 0.05);
    height: 80px;
    width: 1px;
    float: left;
    margin-top: 14px;
    &.black{background: rgba(0, 0, 0, 0.3);}
  }
  #filter-options{
    float: left;
    margin: 0;
    height: 100px;
    margin-right: -225px;
    .panel{
      margin: 20px 0 0;
      display: none;
      .clearfix();
    }
    li{
      .transition(all .3s ease-in-out);
    }
    #category-panel{
      display: block;
      padding-left: 10px;
      li{
        text-align: center;
        width: 7.69%;
        i{
          font-size: 44px;
        }
        &:hover i, &.active i{color: @gold;cursor: pointer;}
        span{
          width: 100%;
          text-align: center;
          display: block;
          font-size: 10px;
        }
      }
      margin-right: 225px;
    }
    #brand-panel{
      padding-left: 10px;
      max-height: 90%;
      overflow-y: scroll;
      margin-top: 8px;
      li{
          font-size: 12px;
          background: rgb(36, 36, 36);
          padding: 11px 10px;
          margin: 0 5px 5px 0;
          cursor: pointer;
          &:hover{
            color: @gold;
          }
          &.active{
            color: @darkgray;
            background: @gold;
          }
      }
      #view-more-brands{
        position: absolute;
        bottom: -25px;
        background: @gold;
        padding: 3px 3px;
        width: 70px;
        text-align: center;
        left: 50%;
        font-size: 10px;
        cursor: pointer;
      }
      margin-right: 225px;
    }
    &.open{
      height: auto;
    }
  }  
}