@font-face {
	font-family: 'status';
	src:url('../fonts/status.eot');
	src:url('../fonts/status.eot?#iefix') format('embedded-opentype'),
		url('../fonts/status.woff') format('woff'),
		url('../fonts/status.ttf') format('truetype'),
		url('../fonts/status.svg#status') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cart, .icon-star, .icon-heart, .icon-search, .icon-user, .icon-dolphin, .icon-watch, .icon-chain, .icon-glasses, .icon-jacket, .icon-shirt, .icon-snapbacks, .icon-shoe, .icon-access, .icon-crewnecks, .icon-facebook, .icon-twitter, .icon-shorts, .icon-location, .icon-phone, .icon-vape,.icon-cancel-circle,.icon-longsleeve,.icon-tank{
	font-family: 'status';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-cart:before {
	content: "\e600";
}
.icon-star:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\e602";
}
.icon-search:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-truck:before {
	content: "\e607";
}
.icon-location:before {
	content: "\e608";
}
.icon-phone:before {
	content: "\e609";
}
.icon-cancel-circle:before {
	content: "\e60a";
}
.icon-longsleeve:before {
	content: "\e60b";
}
.icon-crewnecks:before {
	content: "\e60c";
}
.icon-dolphin:before {
	content: "\e60d";
}
.icon-watch:before {
	content: "\e60e";
}
.icon-chain:before {
	content: "\e60f";
}
.icon-vape:before {
	content: "\e610";
}
.icon-shorts:before {
	content: "\e611";
}
.icon-access:before {
	content: "\e612";
}
.icon-shoe:before {
	content: "\e613";
}
.icon-glasses:before {
	content: "\e614";
}
.icon-jacket:before {
	content: "\e615";
}
.icon-shirt:before {
	content: "\e616";
}
.icon-snapbacks:before {
	content: "\e617";
}
.icon-tank:before {
	content: "\e618";
}