/* Product page */
#product-page{
	margin-top: 0px;
	.clearfix();
	h2.title{
		background: rgba(0,0,0,.8);
		color: #FFF;
		font-size: 14px;
		margin: 0;
		padding: 0 10px;
		font-family: verdana;
		font-weight: bold;
	}
	#primary-img-container{
		float: left;
		max-width: 400px;
		#primary-img{
			max-width: 300px;
			max-height: 280px;
			text-align: center;
			img{
				max-height: 280px;
				width: auto;
				max-width: 100%;
			}
		}
	}
	.product-images{
		float: left;
		max-width: 75px;
		margin-left: 5px;
		img{
			max-width: 71px;
			margin-bottom: 5px;
		}
	}
	.product-info{
		float: left;
		margin-left: 10px;
		h2.title{
 			float: left;
		}
		.description{
			max-width: 370px;
			background: rgba(0, 0, 0, 0.7);
			color: #FFF;
			font-size: 11px;
			line-height: 17px;
			padding: 15px;
			margin-top: 52px;
			clear: left;
		}
	}
	.action-column{
		width: 220px;
		h2{
			margin-bottom: 0;
			margin-top: 0; 
			text-align: center;
			color: #FFF;
			.product_price{
				font-size: 50px;
				position: relative;
				left: -8px;
				.symbol{
					font-size: 22px;
					vertical-align: top;
					font-weight: 100;
					opacity: 0.9;
					padding-right: 2px;
				}
			}
		}
		#buy-product{
			.controls{
				margin-left: 0;
			}
			select{
				width: 150px;
			}
			#add-to-cart-status{
				display: none;
				&.error{
					display: block;
					color: #FFF;
					background: red;
					border-radius: 2px;
					padding: 5px;
					margin-bottom: 6px;
					text-align: center;
				}
			}
			#add-to-cart{
				border: 0;
				background: #dab823;
				padding: 15px;
				width: 220px;
				color: #FFF;
				text-transform: uppercase;
				position: relative;
				padding-left: 50px;
				text-align: left;
				font-size: 12px;
				.add-icon{
					font-size: 50px;
					position: absolute;
					line-height: 9px;
					left: 10px;
					font-weight: 900;
				}
			}
			.share-container{
				border-top: 2px dashed #FFF;
				margin-top: 20px;
				padding-bottom: 15px;
				padding-top: 10px;
				.share{
					display: block;
					color: #FFF;
					padding: 10px;
					margin-top: 5px;
					text-decoration: none;
					i{
						padding-right: 10px;
					}
					&.facebook{
						background: #3d629c;
					}
					&.twitter{
						background: #2cade7;
					}
				}
			}
			.control-group.sizes{
				margin-bottom: 8px;
			}
			#option-container{
				text-align: center;
				max-width: 200px;
				.option-box{
					border: 0;
					background: rgba(51, 51, 51, 0.8);
					color: #FFF;
					padding: 3px 10px;
					margin-bottom: 3px;
					font-size: 17px;
					font-weight: 300;
					cursor: pointer;
					&:hover{
						background: rgb(51, 51, 51);
					}
					&.selected{
						background: rgba(255,255,255,.4);
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#product-page{
		#product-wrapper{
			width: 380px;
			float: left;
			h2.title{
				margin-bottom: 15px;
			}
			.product-info{
				float: none;
				margin-left: 0;
			}
		}
		.action-column{
			margin: 54px 60px 0 0;
		}
	}
}
@media (max-width: 320px) {
	#product-page{
		#product-wrapper{
			width: auto;
			margin-bottom: 13px;
			h2.title{
 			}
 			#primary-img-container{
 				float: none;
 			}
 			.product-images{
 				float: none;
 				margin-left: 0;
 				max-width: initial;
 				img{
 					margin-left: 5px;
 					float: left;
 					&:first-child{
 						margin-left: 0;
 					}
 				}
 			}
			.product-info{
				margin-left: 0;
				.description{
					max-width: initial;
					margin-top: 5px;
				}
 			}
		}
		.action-column{
			margin: 0;
			float: none;
			width: auto;
			h2{
				margin-bottom: 10px; 
				.product_price{
					left: -3px;
				}
			}
			#buy-product{
				#option-container{
					margin: 0 auto;
					max-width: none;
					.option-box{
						padding: 5px 15px;
					}
				}
				#add-to-cart{
					width: 100%;
				}
			}
 		}
	}
}