/* Product page */
#product-page {
  margin-top: 0px;
}
#product-page h2.title {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
}
#product-page #primary-img-container {
  float: left;
  max-width: 400px;
}
#product-page #primary-img-container #primary-img {
  max-width: 300px;
  max-height: 280px;
}
#product-page .product-images {
  float: left;
  max-width: 75px;
  margin-left: 5px;
}
#product-page .product-images img {
  max-width: 71px;
  margin-bottom: 5px;
}
#product-page .product-info {
  float: left;
  margin-left: 10px;
}
#product-page .product-info h2.title {
  float: left;
}
#product-page .product-info .description {
  max-width: 370px;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-size: 11px;
  line-height: 17px;
  padding: 15px;
  margin-top: 52px;
  clear: left;
}
#product-page .action-column {
  width: 220px;
}
#product-page .action-column h2 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  color: #FFF;
}
#product-page .action-column h2 .product_price {
  font-size: 50px;
  position: relative;
  left: -8px;
}
#product-page .action-column h2 .product_price .symbol {
  font-size: 22px;
  vertical-align: top;
  font-weight: 100;
  opacity: 0.9;
  padding-right: 2px;
}
#product-page .action-column #buy-product .controls {
  margin-left: 0;
}
#product-page .action-column #buy-product select {
  width: 150px;
}
#product-page .action-column #buy-product #add-to-cart-status {
  display: none;
}
#product-page .action-column #buy-product #add-to-cart-status.error {
  display: block;
  color: #FFF;
  background: red;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 6px;
  text-align: center;
}
#product-page .action-column #buy-product #add-to-cart {
  border: 0;
  background: #dab823;
  padding: 15px;
  width: 220px;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  padding-left: 50px;
  text-align: left;
  font-size: 12px;
}
#product-page .action-column #buy-product #add-to-cart .add-icon {
  font-size: 50px;
  position: absolute;
  line-height: 9px;
  left: 10px;
  font-weight: 900;
}
#product-page .action-column #buy-product .share-container {
  border-top: 2px dashed #FFF;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
}
#product-page .action-column #buy-product .share-container .share {
  display: block;
  color: #FFF;
  padding: 10px;
  margin-top: 5px;
  text-decoration: none;
}
#product-page .action-column #buy-product .share-container .share i {
  padding-right: 10px;
}
#product-page .action-column #buy-product .share-container .share.facebook {
  background: #3d629c;
}
#product-page .action-column #buy-product .share-container .share.twitter {
  background: #2cade7;
}
#product-page .action-column #buy-product .control-group.sizes {
  margin-bottom: 8px;
}
#product-page .action-column #buy-product #option-container {
  text-align: center;
  max-width: 200px;
}
#product-page .action-column #buy-product #option-container .option-box {
  border: 0;
  background: rgba(51, 51, 51, 0.8);
  color: #FFF;
  padding: 3px 10px;
  margin-bottom: 3px;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}
#product-page .action-column #buy-product #option-container .option-box:hover {
  background: #333333;
}
#product-page .action-column #buy-product #option-container .option-box.selected {
  background: rgba(255, 255, 255, 0.4);
}
@media (max-width: 768px) {
  #product-page #product-wrapper {
    width: 380px;
    float: left;
  }
  #product-page #product-wrapper h2.title {
    margin-bottom: 15px;
  }
  #product-page #product-wrapper .product-info {
    float: none;
    margin-left: 0;
  }
  #product-page .action-column {
    margin: 54px 60px 0 0;
  }
}
@media (max-width: 320px) {
  #product-page #product-wrapper {
    width: auto;
    margin-bottom: 13px;
  }
  #product-page #product-wrapper #primary-img-container {
    float: none;
  }
  #product-page #product-wrapper .product-images {
    float: none;
    margin-left: 0;
    max-width: initial;
  }
  #product-page #product-wrapper .product-images img {
    margin-left: 5px;
    float: left;
  }
  #product-page #product-wrapper .product-images img:first-child {
    margin-left: 0;
  }
  #product-page #product-wrapper .product-info {
    margin-left: 0;
  }
  #product-page #product-wrapper .product-info .description {
    max-width: initial;
    margin-top: 5px;
  }
  #product-page .action-column {
    margin: 0;
    float: none;
    width: auto;
  }
  #product-page .action-column h2 {
    margin-bottom: 10px;
  }
  #product-page .action-column h2 .product_price {
    left: -3px;
  }
  #product-page .action-column #buy-product #option-container {
    margin: 0 auto;
    max-width: none;
  }
  #product-page .action-column #buy-product #option-container .option-box {
    padding: 5px 15px;
  }
  #product-page .action-column #buy-product #add-to-cart {
    width: 100%;
  }
}
