@media (max-width: 980px) {
  #main-container {
    margin-top: 0;
  }
  #filters #filter-options #category-panel {
    padding-top: 9px;
  }
  #filters #filter-options #category-panel li.thin {
    width: 10%;
  }
  #filters #filter-options #category-panel li.wide {
    width: 12%;
  }
  #filters #filter-options #category-panel li i {
    font-size: 44px;
  }
  #filters #filter-options #category-panel li span {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  body .navbar-fixed-top .container {
    padding: 0 10px;
  }
  body .navbar-fixed-top .container .nav > li > a {
    padding: 10px 20px;
  }
  body .navbar-fixed-top .container .secondary {
    float: right;
    width: auto;
    margin-right: 0;
  }
  body .navbar-fixed-top .container .secondary .secondary-inner {
    margin-right: 0;
  }
  body .navbar-fixed-top .container .navbar .brand {
    padding: 0 1% 10px 0;
  }
  body .navbar-fixed-top .container #search-bar {
    display: none;
  }
  body .navbar-fixed-top .container #filters #filter-categories {
    width: 100%;
    border-bottom: 1px solid #2c2929;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  body .navbar-fixed-top .container #filters #filter-categories li.filter {
    float: left;
    width: 185px;
    padding-right: 0;
    padding-bottom: 6px;
  }
  body .navbar-fixed-top .container #filters #filter-categories #category-filter {
    width: 192px;
  }
  body .navbar-fixed-top .container #filters #filter-categories #brand-filter {
    border: 0;
    width: 16%;
  }
  body .navbar-fixed-top .container #filters #filter-categories #brand-filter span {
    display: none;
  }
  body .navbar-fixed-top .container #filters #filter-categories li {
    float: right;
    padding-right: 16px;
  }
  body .navbar-fixed-top .container #filters #filter-options {
    height: auto;
    width: 100%;
  }
  body .navbar-fixed-top .container #filters #filter-options #category-panel {
    margin: 0;
    padding-left: 0;
  }
  body .navbar-fixed-top .container #filters #filter-options #category-panel li i {
    font-size: 29px;
  }
  body .navbar-fixed-top .container #filters #filter-options #brand-panel {
    max-height: 50px;
    width: 100%;
    padding-left: 0;
  }
  body .navbar-fixed-top .container #filters #filter-options #brand-panel li {
    margin: 0px 5px 4px 0px;
    padding: 0px 10px 1px;
  }
  body .navbar-fixed-top .container #filters .divider {
    display: none;
  }
  body #main-container {
    margin-top: 0;
    padding: 0 10px;
  }
}
.navbar-fixed-top #info {
  display: none;
}
@media (max-width: 320px) {
  body {
    padding: 0;
  }
  body .navbar-fixed-top {
    background: #1b1b1b;
    padding: 0 0;
    margin: 0;
    position: relative;
  }
  body .navbar-fixed-top #info {
    background: #f7f7f7;
    color: #0f0f0f;
    font-weight: bold;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    bottom: -53px;
    display: block;
    box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.48);
    font-size: 12px;
  }
  body .navbar-fixed-top #info .notch {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f7f7f7;
    position: absolute;
    top: -5px;
    left: 50px;
  }
  body .navbar-fixed-top .container .nav {
    width: 90px;
  }
  body .navbar-fixed-top .container .nav .location-item {
    display: none;
  }
  body .navbar-fixed-top .container .nav > li a {
    padding: 16px 29px;
  }
  body .navbar-fixed-top .container .nav > li a.brand {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  body .navbar-fixed-top .container .nav > li a.brand img {
    width: 80px;
  }
  body .navbar-fixed-top .secondary {
    margin-right: 0px;
    float: right;
  }
  body .navbar-fixed-top .secondary .secondary-inner {
    margin-right: 0px;
  }
  body .navbar-fixed-top .secondary .secondary-inner .icon-inner {
    width: 173px;
  }
  body .navbar-fixed-top .secondary .secondary-inner #filter-trigger {
    float: left;
  }
  body .navbar-fixed-top .secondary .secondary-inner #filter-trigger a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    display: block;
  }
  body .navbar-fixed-top .secondary .secondary-inner .phone {
    display: block;
  }
  body .navbar-fixed-top .secondary .secondary-inner .menu a {
    padding: 4px 8px;
    display: block;
    text-decoration: none;
  }
  #main-container {
    margin-top: 10px;
    padding: 0 10px;
  }
  #main-container #product-container li.product {
    width: 145px;
    height: 152px;
  }
  #main-container #product-container li.product .info {
    height: 22px;
    width: 100%;
    font-size: 11px;
    position: absolute;
    bottom: 0;
  }
  #main-container #product-container li.product .info a {
    display: none;
  }
  #main-container #product-container li.product .info .price-reg {
    right: -4px;
  }
  #main-container #product-container li.product .info .price-slash {
    background: #bd0000;
    top: -120px;
    right: 0;
  }
  #main-container #product-container li.product .thumbnail {
    height: 122px;
    width: 137px;
  }
  #main-container #product-container li.product .thumbnail .triggers {
    width: 100%;
    height: 121px;
    top: 0;
    left: 0;
  }
  #main-container #product-container li.product .thumbnail img {
    max-height: 115px;
    margin: 0 auto;
  }
  #main-container #product-container li.product h5 {
    visibility: visible;
    margin-left: 6px;
    top: -5px;
    width: 98px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  #main-container #product-container li.product:hover .heart,
  #main-container #product-container li.product:hover .social,
  #main-container #product-container li.product:hover .share {
    display: none;
  }
  #main-container #product-container li.product.empty {
    display: none;
  }
  #main-container #product-container #message {
    padding: 30px 0;
  }
  #main-container #product-container #message h6 {
    font-size: 37px;
  }
  #main-container #product-container #message #loader {
    left: -6%;
  }
  #main-container #product-container #message #loader + h6 {
    margin-left: 29%;
    font-size: 37px;
  }
  #filter-overlay {
    display: none;
  }
  #men,
  #women {
    display: none;
  }
  body.filter {
    overflow: hidden;
  }
  body.filter .navbar-fixed-top {
    margin: 0;
    position: fixed;
  }
  body.filter .navbar-fixed-top .container {
    padding: 0;
  }
  body.filter .navbar-fixed-top .container .nav {
    width: 100%;
  }
  body.filter .navbar-fixed-top .container .nav li {
    z-index: 9999;
    position: absolute;
    width: 40%;
    text-align: center;
    padding: 0;
  }
  body.filter .navbar-fixed-top .container .nav li:first-child {
    display: none;
  }
  body.filter .navbar-fixed-top .container .nav #men {
    left: 0;
    display: block;
  }
  body.filter .navbar-fixed-top .container .nav #women {
    left: 40%;
    background: #000;
    display: block;
  }
  body.filter .navbar-fixed-top .container .nav #filter-close {
    width: 15%;
    background: #30302f;
    color: #FFF;
    left: 85%;
    max-height: 40px;
    padding: 16px 0;
    display: block;
  }
  body.filter .navbar-fixed-top .container .nav.secondary {
    display: none;
  }
  body.filter .navbar-fixed-top .container #filter-overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 0px;
    display: block;
    z-index: 9990;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters {
    padding: 0;
    height: 100%;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-categories li {
    display: none;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-categories li.filter {
    display: block;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-categories #category-filter {
    width: 165px;
    padding-left: 10px;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-categories #category-filter span {
    padding-right: 10px;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-categories #brand-filter {
    width: 80px;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-options {
    overflow-y: auto;
    height: 300px;
    -webkit-overflow-scrolling: touch;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-options #category-panel li {
    width: 50%;
    margin-bottom: 10px;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-options #category-panel li i {
    font-size: 45px;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-options #brand-panel {
    max-height: initial;
    width: 320px;
  }
  body.filter .navbar-fixed-top .container #filter-overlay #filters #filter-options #brand-panel li {
    font-size: 14px;
    padding: 10px 20px;
  }
  body.filter #main-container {
    overflow: hidden;
  }
}
/* TOUCH RULES */
