@media (max-width: 980px) {
  #main-container{
    margin-top: 0;
  }
  #filters{
    #filter-options{
      #category-panel{
        padding-top: 9px;
        li{
          &.thin{
            width: 10%;
          }
          &.wide{
            width: 12%;
          }
          i{
            font-size: 44px;
          }
          span{
            font-size: 9px;
          }
        }
      }
    }
  }
}
@media (max-width: 880px) {
  #home{ 
    #inner{
      float: none;
      width: 100%;
      margin-left: 0;
      .inner-inner{
        margin-left: 0;
      }
    }
    #sidebar{
      
    }
    .slide .item .title {
      font-size: 16px;
    }
  }
}
@media (max-width: 768px) {
  body{  
    .navbar-fixed-top{
      .container{
        padding: 0 10px;
        .nav{
          > li{
            > a{
              padding: 10px 20px;
            }
          }
        }
        .secondary{
          float: right;
          width: auto;
          margin-right: 0;
          .secondary-inner{
            margin-right: 0;
          }
        }
        .navbar{ 
          .brand{
            padding: 0 1% 10px 0;
          }
        }
        #search-bar{
          display: none;
        }
        #filters{
          #filter-categories{
            width: 100%;
            border-bottom: 1px solid rgb(44, 41, 41);
            padding-top: 5px;
            padding-bottom: 5px;
            li.filter{
              float: left;
              width: 185px;
              padding-right: 0;
              padding-bottom: 6px;
            }
            #category-filter{
              width: 192px;
            }
            #brand-filter{
              border: 0;
              width: 16%;
              span{
                display: none;
              }
            }
            li{
              float: right;
              padding-right: 16px;
            }
          }
          #filter-options{
            height: auto;
            width: 100%;
            #category-panel{
              margin: 0;
              padding-left: 0;
              li{
                i{
                  font-size: 29px;
                }
              }
            }
            #brand-panel{
              max-height: 50px;
              width: 100%;
              padding-left: 0;
              li{
                margin: 0px 5px 4px 0px;
                padding: 0px 10px 1px;
              }
            }
          }
          .divider{
            display: none;
          }
        }
      }
    }
    #main-container{
      margin-top: 0;
      padding: 0 10px;
    }
  }
}
@media (max-width: 600px){
    #home-link{
      .clearfix();
      li{
        width: 100%;
        box-sizing: border-box;
        a{
          padding: 30px 15px;
        }
      }
    }
    .navbar .nav{
      width: 250px;
    }
}
@media (max-width: 320px) {
  #view-more-brands{
    display: none;
  }
  #home .slide .item .title {
    font-size: 12px;
    width: 100%;
    text-align: center;
    top: 0;
  }
  body{
    padding: 0;
    .navbar-fixed-top{
      background: #1b1b1b;
      padding: 0 0;
      margin: 0;
      position: relative;
      #shop-help{
        background: rgb(247, 247, 247);
        color: #0f0f0f;
        font-weight: bold;
        width: 100px;
        left: 50%;
        margin-left: -50px;
        position: absolute;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        bottom: -53px;
        box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.48);
        font-size: 12px;
        .notch{
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid rgb(247, 247, 247);
          position: absolute;
          top: -5px;
          left: 50px;
        }
        &.show{
          display: block;
        }
      }
      .container{
        .nav{
          .location-item{
            display: none;
          }
          width: 90px;
          > li > { 
            a{
              padding: 16px 29px;
            }
            a.brand{ 
              padding-top: 10px;
              padding-left: 10px;
              padding-bottom: 10px;
              img{
                width: 80px;
              }
            }
          }
        }
      }
      .secondary{
        margin-right: 0px;
        float: right;
        .secondary-inner{
          margin-right: 0px;
          .icon-inner{
            width: 173px;
          }
          #filter-trigger{
            float: left;
            a{
              color: #FFF;
              text-decoration: none; 
              text-transform: uppercase;
              padding: 8px;
              display: block;
            }
          }
          .phone{
            display: block;
          }
          .menu{
            a{
              padding: 4px 8px;
              display: block;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  #main-container{
    margin-top: 10px;
    padding: 0 10px;
    #product-container{
      li.product{
        width: 145px;
        height: 152px;
        .info{
          height: 22px;
          width: 100%;
          font-size: 11px;
          position: absolute;
          bottom: 0;
          a{
            display: none;
          }
          .price-reg{
            right: -4px;
          }
          .price-slash{
            background: rgb(189, 0, 0);
            top: -120px;
            right: 0;
          } 
        }
        .thumbnail{
          height: 122px;
          width: 137px;
          .triggers{
            width: 100%;
            height: 121px;
            top: 0;
            left: 0;
          }
          img{
            max-height: 115px;
            margin: 0 auto;
          }
        }
        h5{
          visibility: visible;
          margin-left: 6px;
          top: -5px;
          width: 98px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
        &:hover{
          .heart, .social, .share{
            display: none;
          }
        }
        &.empty{
          display: none;
        }
      }
      #message{
        padding: 30px 0;
        h6{
          font-size: 37px;
        }
        #loader{
          left: -6%;
        }
        #loader + h6{
          margin-left: 29%;
          font-size: 37px;
        }
      }
    }
  }
  #filter-overlay{
    display: none;
  }
  #men,#women{
    display: none;
  }
  body.filter{
    overflow: hidden;
    .navbar-fixed-top{
      margin: 0;
      position: fixed;
      .container{
        padding: 0;
        .nav{
          width: 100%;
          li{
            z-index: 9999;
            position: absolute;
            width: 40%;
            text-align: center;
            padding: 0;
            &:first-child{
              display: none;
            }
          }
          #men{
            left: 0;
            display: block;
          }
          #women{
            left: 40%;
            background: #000;
            display: block;
          }
          #filter-close{
            width: 15%;
            background: rgb(48, 48, 47);
            color: #FFF;
            left: 85%;
            display: block;
            max-height: 40px;
            padding: 16px 0;
            display: block;
          }
        }
        .nav.secondary{
          display: none;
        }
        #filter-overlay{
          top: 0;
          left: 0;
          position: fixed;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.9);
          padding-top: 0px;
          display: block;
          z-index: 9990;
          #filters{
            padding: 0;
            height: 100%;
            #filter-categories{
              li{
                display: none;
                &.filter{
                  display: block;
                }
              }
              #category-filter{
                width: 165px;
                padding-left: 10px;
                span{
                  padding-right: 10px;
                }
              }
              #brand-filter{
                width: 80px;
              }
            }
            #filter-options{
              overflow-y: auto;
              height: 300px;
              -webkit-overflow-scrolling: touch;
              #category-panel{
                li{
                  width: 50%;
                  margin-bottom: 10px;
                  i{
                    font-size: 45px;
                  }
                }
              }
              #brand-panel{
                max-height: initial;
                width: 320px;
                li{
                  font-size: 14px;
                  padding: 10px 20px;
                }
              }
            }
          }
        }
      }
    }
    #main-container{
      overflow: hidden;
    }
  }
}
/* TOUCH RULES */
.touch{
  #product-container{
  }
}