.backstretch{
	background: #000;
}
#home-link{
	padding: 0;
	max-width: 320px;
	margin: 20px auto;
	text-align: center;
	position: relative;
	clear: both;
	.clearfix();
	li{
		padding: 0;
		list-style: none;
		background: #000;
		font-size: 25px;
		width: 100%;
		height: 30%;
		margin: 5px;
		border: 1px solid transparent;
		a{
			color: #FFF;
			padding: 30px;
			display: block;
			text-decoration: none;
			i{
				margin-right: 10px;
			}
		}&:hover{
			background: none;
			border: 1px solid #FFF;
		}
	}
}
   
.promo-header{
	.clearfix();
	#myCarousel{
		width: 69.4%;
		float: right;
		.carousel-e{
			background: #000;
			padding: 8px;
		}
		.carousel-control{
			opacity: 1;
		}
		.concert{
			position: relative;
			.info{
				position: absolute;
				top: 10px;
				h3{
					font-size: 20px;
					background: #000;
					padding: 0px 10px;
					float: left;
					margin: 0;
					margin-right: 10px;
				}
				.tickets{
					color: #FFF;
					background: @gold;
					padding: 12px;
					float: left;
					text-transform: uppercase;
				}
			}
		}
	}
	#sidebar{
		float: left;
		width: 29%;
		background: rgba(0, 0, 0, 0.36);
		padding-bottom: 19.4%;
		h5{
			color: #FFF;
			text-align: center;
			bottom: 16px;
			position: absolute;
			margin: 0 40px;
		}
	}
}


#banner-space{
	background: #dab823;
	width: 100%;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 18px;
	color: #FFF;
	position: relative;
	.clearfix();
	a{
		color: #FFF;
		text-decoration: none;
		display: block;
		height: 100%;
		width: 100%;
	}
	.top-banner{
		float: left;
		width: 32%;
		text-align: center;
		padding: 8px;
		box-sizing: border-box;	
	}
	.divider{
		width: 1.5%;
		font-weight: bold;
		font-size: 31px;
		text-align: center;
		padding-top: 5px;
		float: left;
	}
}
#main-container{
	margin-top: 180px;
	position: relative;
	#sheet{
		height: 1px;
		width: 100%;
		background: rgba(0, 0, 0, 0.59);
		max-height: 112px;
		position: fixed;
		top: 0;
		z-index: 50;
	}
	.btn-big{
		padding: 25px;
	}
}
.btn-gold{
	background: @gold;
	padding: 25px;
	font-size: 18px;
	color: #FFF;
	text-shadow: none;
	text-transform: uppercase;
	&:hover{
		background: @goldHover;
	}
	&.btn-full{
		width: 100%;
		box-sizing: border-box;
	}
	&.btn-small{
		padding: 14px;
		font-size: 16px;
	}
}
.btn-white{

}
#product-container{
	margin: 0;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	position: relative;
	.clearfix();
	li.product{
		margin-bottom: 10px;
		width: 278px;
		list-style: none;
		font-size: 0;
		display: inline-block;
	    *display: inline;
	    zoom: 1;
	    position: relative;
	    .transition(all .5s ease-in-out);
		.thumbnail{
			border: none;
			box-shadow: none;
			height: 220px;
			width: 220px;
			padding: 4px;
			background: #FFF;
			display: inline-block;
			*display: inline;
	    	zoom: 1;
			.border-radius(0);
			.stock_msg{
				background: red;
				color: #FFF;
				position: absolute;
				top: 0;
				display: block;
				font-size: 12px;
				right: 0;
				padding: 3px;
			}
			.triggers{
				position: absolute;
				width: 228px;
				height: 228px;
				top: 0;
				.trigger{
					z-index: 100;
					display: block;
					width: 49%;
					float: left;
					height: 50%;
				}
				&.col2 .trigger{width: 50%;height: 100%;}
				&.col1 .trigger{width: 99%;height: 100%;}

			}
			img{
				max-height: 220px;
				display: block;
			}
		}
		.info{
			background: #141414;
			height: 228px;
			width: 50px;
			text-align: center;
			font-size: 14px;
			color: #FFF;
			position: relative;
			display: inline-block;
			*display: inline;
	    	zoom: 1;
			vertical-align: top;
			.price{
				text-shadow: 1px 1px 1px rgba(0,0,0,.2);
				position: absolute;
				width: 50px;
				top: 50%;
				margin-top: -30px;
				display: block;
				color: #FFF;
			}
			.price-reg{
				text-shadow: 1px 1px 1px rgba(0,0,0,.2);
				position: absolute;
				width: 50px;
				top: 50%;
				margin-top: -10px;
				display: block;
			}
			.price-slash {
			  color: rgba(255, 255, 255, 0.8);
			  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
				position: absolute;
				width: 50px;
				top: 40%;
				margin-top: -10px;
				display: block;
			}
			.price-sale {
			  color: rgb(255, 255, 255);
			}
			a{
				text-decoration: none;
			}
			.view{
				background: #FFF;
				color: #d1b020;
				padding: 5px 6px 5px 7px;
				margin-top: 11px;
				position: relative;
				top: 9px;
				left: 0px;
				font-size: 11px;
				letter-spacing: 1px;
				text-shadow: none;
				display: none;
			}
			.heart{
				position: absolute;
				top: 150px;
				width: 50px;
				left: 0;
				font-size: 18px;
				display: none;
			}
			.social{
				position: absolute;
				bottom: 16px;
				font-size: 11px;
				width: 50px;
				line-height: 15px;
				display: none;
				a{
					color: #FFF;
				}
			}
		}
		h5{
			font-size: 10px;
			margin-left: 50px;
			margin-top: 0px;
			line-height: 0px;
			position: relative;
			top: -1px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 228px;
			color: #FFF;
			line-height: 13px;
			text-shadow: 1px 1px 3px rgba(0,0,0,.6);
			a{color:#FFF;}
		}
		&:hover{
			.social, .heart, .view{
				display: block;
			}
			h5{visibility: visible;}
		}
	}
	.stretch{
		width: 100%;
	    display: inline-block;
	    font-size: 0;
	    line-height: 0;
	}
	.empty{
		width: 228px;
	}
	&.loading #message{
		min-height: 69px;
		#loader{
			left: 14%;
			float: left;
			text-align: right;
			position: absolute;
			width: 40%;
			top: 50%;
			margin-top: -55px;
			height: 100px;
		}
		#loader + h6{
			width: 50%;
			margin-left: 40%;
			text-align: left;
			float: left;
		}
	}
	#message{
		position: relative;
		background: @darkgray;
		width: 100%;
		height: 100%;
		font-size: 15px;
		font-weight: 300;
		font-family: @oxygenFontFamily;
		color: rgba(255,255,255,.9);
		padding: 50px 0;
		text-align: center;
		h6{
			color: #FFF;
			font-size: 50px;
			font-weight: 700;
			padding-bottom: 10px;
			text-transform: uppercase;
			font-family: @oxygenFontFamily;	
			margin-top: 20px;
		}
		span{
			color: @gold;
		} 
		a{
			color: @gold;
			text-decoration: underline;
		}
	}
}
.phone{
	display: none;
}
#filter-close{
	display: none;
}
.footer{
	text-align: center;
	color: #FFF;
	a{
		color: #FFF;
		text-decoration: underline;
		padding: 0 10px;
		font-size: 12px;
	}
}
.page{
	color: #FFF;
}
.locations{
	text-align: center;
	.hours{
		float: left;
		width: 40%;
		padding-left: 30px;
		box-sizing: border-box;
		text-align: left;
	}
	.map{
		float: right;
		width: 60%;
		margin-bottom: 30px;
		iframe{
			float: right;
			width: 100%;
		}
  	}
  	img{
  		width: 100%;
  		width: 100%;
		max-width: 960px;
 		margin-top: 10px;
  	}
}
.SG_widget_form_success{
	background: rgba(221, 255, 232, 1);
	padding: 10px;
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
}
.SG_widget_form{
	margin: 50px auto 0;
	max-width: 600px;
	table{
		width: 100%;
	}
	.SG_widget_form_label{
		padding-right: 10px;
	}
	.SG_widget_form_input{
		padding: 15px 3%;
		width: 96%;
	}
	.SG_widget_form_submit{
		background: @gold;
		color: #FFF;
		padding: 10px 30px;
	}
}
#home{
	.clearfix();
	.item{
		.clearfix();
		.title{
			background: #000;
			background: rgba(0,0,0,.9);
			color: #FFF;
			font-size: 16px;
			position: absolute;
			padding: 8px 25px 8px 8px;
			top: 10px;
			text-transform: uppercase;
			font-weight: bold;
			h4{
				font-size: 11px;
				color: #CCC;
				margin: 0;
				font-weight: normal;
			}
		}
		.split-2{
			width: 50%;
			float: left;
			background: #000;
			h3{
				font-size: 18px;
			}
			img{
				float: left;
			}
			.info{
				float: left;
				text-transform: uppercase;
				font-size: 18px;
				margin-left: 10px;
				.tickets{
					background: @gold;
					color: #FFF;
					padding: 6px;
					text-transform: uppercase;
				}
			}
		}
	}
	.slide .item .title{
		font-size: 46px;
	}
	.verticals{
		.clearfix();
		width: 60%;
		float: left;
		.item{
			position: relative;
			float: left;
			width: 33%;
			margin-right: .3%;
		}
	}
	.horizontal{
		float: right;
		max-width: 39.5%;
		margin-left: .5%;
	}
	#instagram{
		float: right;
		h4{
			color: #FFF;
		}
		iframe{
				max-width: 100%;
			}
	}
	#twitter{
 		iframe{
			width: 280px;
		}
	}
	#sidebar{
		position: relative;
		a{
			background: rgba(255, 255, 255, 0.36);
			color: #FFF;
			padding: 10px;
			position: absolute;
			display: block;
			margin-top: 10px;
			&.twitter{
				background: #2cade7;
				left: 50%;
				margin-left: -66px;
				width: 90px;
			}
			&.email{
				left: 50%;
				width: 120px;
				text-align: center;
				margin-left: -81px;
				top: 60px;
			}
		}
	}
}
@media (max-width: 760px) {
.locations{
	text-align: center;
	.hours,.map{
		float: none;
		width: 100%;
		padding-left: 0;
   	}
	.map{

		iframe{float: none;}
  	}
}
}
@media (max-width: 980px) {
	#sheet{
		display: none;
  	}
  	#sidebar h5{
  		display: none;
  	}
}
@media (max-width: 505px){
	#banner-space{
		font-size: 13px;
		line-height: 15px;
	}
	#home{
		.clearfix();
		.verticals{
 			width: 100%;
			float: none;
		}
		.horizontal{
			float: none;
			max-width: none;
			margin-left: 0;
		}
	}
}
@media (max-width: 380px){
	#home{
		#sidebar{
			display: none;
		}
		#myCarousel{
			width: 100%;
			max-width: 100%;
		}
	}

}
@media (min-width: 1365px){
	#home{
		#sidebar{
			padding-bottom: 260px
		}
	}

}
.carousel-control{
	z-index: 10;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}