.login{
	color: #FFF;
	.form-container{
		max-width: 286px;
		margin: 0 auto;
		h1{
			color: #FFF;
			font-weight: 100;
			text-align: center;
			margin-bottom: 30px;
		}
		form{
			border-top: 2px dashed #FFF;
			padding-top: 20px;
		}
		.form-horizontal{
			.controls{
				margin-left: 0;
			}
			input[type=text],input[type=email],input[type=password]{
				height: 45px;
				width: 100%;
				box-sizing: border-box;
				margin-bottom: 5px;
			}
			label{
				padding-top: 15px;
			}
			.btn{
				margin-bottom: 10px;
				padding: 10px;
			}
			.secondary{
				background: #CCC;
				background: rgba(255, 255, 255, 0.11);
				color: #FFF;
				display: block;
				text-align: center;
				padding: 5px;
				margin-top: 5px;
				font-size: 12px;
			}
		}
	}
	&.double{
		.form-container{
			max-width: 570px
		}
	}
	
	a.facebookLogin{
		background: #3d629c;
		color: #FFF;
		display: block;
		padding: 10px;
		margin-bottom: 20px;
		&:hover{
			text-decoration: none;
		}
	}
}
#main-container .checkbox{
 	margin-bottom: 5px;
	padding: 10px;
	width: 240px;
	padding-left: 30px;
	//prevent ugly text select on double click
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	input {
	    -webkit-appearance: none;
	    background-color: #fafafa;
	    border: 1px solid #cacece;
	    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	    padding: 9px;
	    border-radius: 3px;
	    display: inline-block;
	    position: relative;
	    left: -9px;
		top: -4px;
	}
	input:active, input:checked:active {
	    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}
	 
	input:checked {
	    background-color: #e9ecee;
	    border: 1px solid #adb8c0;
	    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	    color: @gold;
	}
	input:checked:after {
	    content: '\2714';
	    font-size: 14px;
	    position: absolute;
	    top: 0px;
	    left: 3px;
	    color: @gold;
	}
	&.small{
		background: none;
		padding: 0;
		width: auto;
		font-size: 12px;
		input{
			margin-left: 11px;
			padding: 7px;
			top: -3px;
		}
	}
}
.my-account{
	.clearfix();
	color: #FFF;
	table{
		td{
			background: rgba(255, 255, 255, 0.1);
			border: 0;
			border-bottom: 2px solid rgba(0, 0, 0, 0.11);
			color: #FFF;
			box-sizing: border-box;
			padding: 10px 15px;
		}
		tr:last-child{
			border-bottom: 0;
		}
	}
	a{
		color: @gold
	}
	.my-account-box{
		input[type=text],input[type=password]{
			height: 40px;
		}
	}
}
@media (max-width: 320px) {
	#main-container .login{
 		.form-container{
  			h1{
 				font-size: 25px;
 				margin-bottom: 10px;
 			}
 			.btn-gold{
 				padding: 12px;
 			}
		}
	}

}