.login {
  color: #FFF;
}
.login h1 {
  color: #FFF;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}
.login input {
  padding: 10px;
}
.login label {
  padding-top: 10px;
}
.checkbox {
  background: #FFF;
  margin-bottom: 5px;
  padding: 10px;
  width: 240px;
  padding-left: 40px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* Rules below not implemented in browsers yet */

  -o-user-select: none;
  user-select: none;
}
.checkbox input {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  left: -9px;
  top: -4px;
}
.checkbox input:active,
.checkbox input:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.checkbox input:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.checkbox input:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}
.checkbox.small {
  background: none;
  padding: 0;
  width: auto;
  font-size: 12px;
}
.checkbox.small input {
  margin-left: 11px;
  padding: 7px;
  top: -3px;
}
