/* Orders 
-------------------------------------------------- */
.orders .shipping{
	display: none;
}
.orders.shipping .shipping{
	display: table-cell;
}
.orders.shipping .default{
	display: none;
}

/* Products 
-------------------------------------------------- */
table tr.empty, form .table-striped tbody .empty td{
	background: rgb(255, 234, 234);
}