@font-face {
	font-family: 'status';
	src:url('../fonts/status.eot');
	src:url('../fonts/status.eot?#iefix') format('embedded-opentype'),
		url('../fonts/status.woff') format('woff'),
		url('../fonts/status.ttf') format('truetype'),
		url('../fonts/status.svg#status') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cart, .icon-star, .icon-heart, .icon-search, .icon-user, .icon-dolphin-silhouette, .icon-watch, .icon-chain, .icon-glasses, .icon-jacket, .icon-shirt, .icon-snapbacks, .icon-shoe, .icon-access, .icon-crewnecks, .icon-facebook, .icon-twitter, .icon-shorts, .icon-truck, .icon-tv {
	font-family: 'status';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cart:before {
	content: "\e000";
}
.icon-star:before {
	content: "\e003";
}
.icon-heart:before {
	content: "\e002";
}
.icon-search:before {
	content: "\e004";
}
.icon-user:before {
	content: "\e001";
}
.icon-dolphin-silhouette:before {
	content: "\e006";
}
.icon-watch:before {
	content: "\e009";
}
.icon-chain:before {
	content: "\e00a";
}
.icon-glasses:before {
	content: "\e007";
}
.icon-jacket:before {
	content: "\e008";
}
.icon-shirt:before {
	content: "\e00b";
}
.icon-snapbacks:before {
	content: "\e00c";
}
.icon-shoe:before {
	content: "\e00d";
}
.icon-access:before {
	content: "\e00e";
}
.icon-crewnecks:before {
	content: "\e005";
}
.icon-facebook:before {
	content: "\e00f";
}
.icon-twitter:before {
	content: "\e010";
}
.icon-shorts:before {
	content: "\e011";
}
.icon-truck:before {
	content: "\e012";
}
.icon-tv:before {
	content: "\e013";
}
