/* Landing */
.landing{
	font-family: 'Oswald', sans-serif;
	margin-top: 20px;
	text-transform: uppercase;
}
.landing #container{
	max-width: 812px;
	margin: 0 auto;
}
.landing h1{
	float: left;
	margin-bottom: 30px;
}
.landing header div{
	font-size: 18px;
	float: right;
	margin-top: 40px;
	color: #707070;
}
.landing header div span{
	color: #090909;
}
.landing #message{
	border-radius: 10px;
	moz-border-radius: 10px;
	webkit-border-radius: 10px;
	padding: 13px 30px 13px 0;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	color:#949494;
	position: relative;
}
.landing #message .text{
	width: 530px;
	display: inline-block;
	font-weight: 500;
}
.landing #message .shop{
	position: absolute;
	top: 3px;
	right: 0;
	color: #dab823;
	text-decoration: none;
	font-weight: 500;
	transition: right .2s;
	-moz-transition: right .2s; /* Firefox 4 */
	-webkit-transition: right .2s; /* Safari and Chrome */
	-o-transition: right .2s; /* Opera */
}
.landing #message .shop:hover{
	text-decoration: none;
	right: -15px;
}
.landing #message .shop i{
	font-size: 55px;
	position: relative;
	top: 8px;
	margin-left: 10px;
}
.landing #artist-callout{
	color: #b4b4b4;
	font-size: 20px;
	text-align: center;
	margin: 30px 0;
	font-weight: 500;
}
.landing #artist-callout span{
	color: #dab823;
	font-size: 28px;
	display: inline-block;
}
.landing #artist{
	margin: 30px 0 0 0;
}
.landing #player {
	height: 0;
	text-align: center;
	position: relative;
	transition: height 1s;
	-moz-transition: height 1s; /* Firefox 4 */
	-webkit-transition: height 1s; /* Safari and Chrome */
	-o-transition: height 1s; /* Opera */
}
.landing #player.active{
	padding: 20px 0;
	height: 400px;
}
.landing #player #js-video, #player .exit{
	display: none;
}
.landing #player.play #js-video, #player.play .exit {
	display: block;
}
.landing #player.play .exit{
	position:absolute;
	right: -70px;
	top: 50%;
	height: 75px;
	margin-top: -37px;
	font-size: 18px;
	color: #b1b1b1;
	text-align: center;
	cursor: pointer;
}
.landing #player .exit i{
	font-size: 55px;
}

.landing #player.play .loading, .loading{
	display: none;
}
#player.active .loading{
	display: initial;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	left: 50%;
	margin-left: -15px;
}
.landing #artist li{
	width: 160px;
	height: 160px;
	background: #CCC;
	list-style: none;
	background-image: url('../img/artist_sprite.jpg');
	display: inline-block;
	zoom: 1;	
	*display: inline;
}
.landing #artist .vintage{
	background-image: url('../img/corey-shapiro.jpg');
}
.landing #artist-container{
	text-align: center;
}
.landing #artist .future{
	background-position: 0px 0px;
}
.landing #artist .kirko{
	background-position: 0px -160px;
}
.landing #artist .raekwon{
	background-position: 0px -320px;
}
.landing #artist .twochainz{
	background-position: 0px -480px;
}
.landing #artist .driicky{
	background-position: 0px -640px;
}
.landing #artist .stalley{
	background-position: 0px -800px;
}
.landing #artist .rita{
	background-position: 0px -960px;
}
.landing #artist .schoolboyq{
	background-position: 0px -1280px;
}
.landing #artist .chino{
	background-position: 0px -1120px;
}
.landing #artist .killa{
	background-position: 0px -1440px;
}

.landing #artist .future:hover, #artist.future .future, .landing #artist .future.active{
	background-position: 160px 0px;
}
.landing #artist .kirko:hover, #artist.kirko .kirko, .landing #artist .kirko.active{
	background-position: 160px -160px;
}
.landing #artist .raekwon:hover, #artist.raekwon .raekwon, .landing #artist .raekwon.active{
	background-position: 160px -320px;
}
.landing #artist .twochainz:hover, #artist.twochainz .twochainz, .landing #artist .twochainz.active{
	background-position: 160px -480px;
}
.landing #artist .driicky:hover, #artist.driicky .driicky, .landing #artist .driicky.active{
	background-position: 160px -640px;
}
.landing #artist .stalley:hover, #artist.stalley .stalley, .landing #artist .stalley.active{
	background-position: 160px -800px;
}
.landing #artist .rita:hover, #artist.rita .rita, .landing #artist .rita.active{
	background-position: 160px -960px;
}
.landing #artist .schoolboyq:hover, #artist.schoolboyq .schoolboyq, .landing #artist .schoolboyq.active{
	background-position: 160px -1280px;
}
.landing #artist .chino:hover, #artist.chino .chino, .landing #artist .chino.active{
	background-position: 160px -1120px;
}
.landing #artist .killa:hover, #artist.killa .killa, .landing #artist .killa.active{
	background-position: 160px -1440px;
}
.landing #artist .vintage:hover, #artist.vintage .vintage, .landing #artist .vintage.active{
	background-position: 160px 0px;
}
.landing #status-panel{
	text-align: center;
	margin: 20px 0;
	font-size: 14px;
}
.landing #signup{
	margin-top: 10px;
	height: 65px;
}
.landing #email{
	border: 0;
	border-radius: 0;
	background: #efefef;
	padding: 0 1.5%;
	width: 82%;
	font-family: 'Oswald', sans-serif;
	font-size: 31px;
	color: #949494;
	height: 100%;
	box-shadow: none;
	font-weight: 300;
}
.landing #submit{
	border: 0;
	background: #d6ba40;
	color: #f2e9c2;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	font-weight: 300;
	padding: 0 3%;
	width: 15%;
	height: 100%;
}
@media (max-width: 800px) {
	.landing h1{
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}
	.landing header div{
		float: none;
		text-align: center;
		margin: 20px 0;
		line-height: 21px;
	}
	.landing #message{
		text-align: center;
		padding: 13px 10px;
	}
	.landing #message .text{
		display: block;
		text-align: center;
		margin: 0 auto;
		font-size: 19px;
		line-height: 21px;
		width: auto;
	}
	.landing #message .shop{
		position: static;
		font-size: 15px;
	}
	.landing #message .shop i{
		font-size: 29px;
		top: 3px;
		margin-left: 5px;
	}
	.landing #artist-callout{
		font-size: 17px;
		margin-bottom: 0;
	}
	.landing #artist-callout span{
		font-size: 25px;
	}
	.landing #signup{
		margin-top: 20px;
		height: 55px;
		margin-bottom: 7px
	}
	.landing #email{
		font-size: 28px;
	}
	.landing #submit{
		font-size: 18px;
		padding: 0 2%;
		width: 15%;
	}
	.landing #js-video embed, .landing #js-video iframe, .landing #js-video object,.landing  #js-video video {
	  width: auto;
	  height: 170px;
	  position: static;
	}
	.landing #js-video {
	  padding-bottom: 170px;
	}
	.landing #player.active {
		height: 165px;
		padding-top: 0;
	}
	.landing #player.play .exit{
		right: -10px;
		font-size: 12px;
	}
	.landing #player .exit i{
		font-size: 38px;
	}
}
@media (max-width: 600px) {
	.landing #message .text{
		font-size: 15px;
		line-height: 17px;
	}
	.landing #email{
		width: 79%;
	}
	.landing #submit{
		font-size: 18px;
		padding: 0 1.5%;
		width: 18%;
	}
	.landing #artist li{
		width: 138px;
		height: 138px;
		background-size: 276px 1380px;
	}
	.landing #artist .vintage{
		background-size: 276px 138px;
	}
	.landing #artist .future{
	background-position: 0px 0px;
	}
	.landing #artist .kirko{
		background-position: 0px -138px;
	}
	.landing #artist .raekwon{
		background-position: 0px -276px;
	}
	.landing #artist .twochainz{
		background-position: 0px -414px;
	}
	.landing #artist .driicky{
		background-position: 0px -552px;
	}
	.landing #artist .stalley{
		background-position: 0px -690px;
	}
	.landing #artist .rita{
		background-position: 0px -828px;
	}
	.landing #artist .schoolboyq{
		background-position: 0px -966px;
	}
	.landing #artist .chino{
		background-position: 0px -1104px;
	}
	.landing #artist .killa{
		background-position: 0px -1242px;
	}

	.landing #artist .future:hover, #artist.future .future, .landing #artist .future.active{
		background-position: 138px 0px;
	}
	.landing #artist .kirko:hover, #artist.kirko .kirko, .landing #artist .kirko.active{
		background-position: 138px -138px;
	}
	.landing #artist .raekwon:hover, #artist.raekwon .raekwon, .landing #artist .raekwon.active{
		background-position: 138px -276px;
	}
	.landing #artist .twochainz:hover, #artist.twochainz .twochainz, .landing #artist .twochainz.active{
		background-position: 138px -414px;
	}
	.landing #artist .driicky:hover, #artist.driicky .driicky, .landing #artist .driicky.active{
		background-position: 138px -552px;
	}
	.landing #artist .stalley:hover, #artist.stalley .stalley, .landing #artist .stalley.active{
		background-position: 138px -690px;
	}
	.landing #artist .rita:hover, #artist.rita .rita, .landing #artist .rita.active{
		background-position: 138px -828px;
	}
	.landing #artist .schoolboyq:hover, #artist.schoolboyq .schoolboyq, .landing #artist .schoolboyq.active{
		background-position: 138px -966px;
	}
	.landing #artist .chino:hover, #artist.chino .chino, .landing #artist .chino.active{
		background-position: 138px -1104px;
	}
	.landing #artist .killa:hover, #artist.killa .killa, .landing #artist .killa.active{
		background-position: 138px -1242px;
	}
	.landing #artist .vintage:hover, #artist.vintage .vintage, .landing #artist .vintage.active{
		background-position: 138px 0px;
	}

@media (max-width: 400px) {
	.landing #player.active{
		height: 206px;
	}
	.landing #player.play .exit{
		position: static;
		margin-top: -10px;
		display: block;
	}
}
.landing ::-webkit-input-placeholder { padding-top:14px }
.landing ::-moz-placeholder { padding-top:14px }
.landing :-ms-input-placeholder { padding-top:14px }
.landing input:-moz-placeholder { padding-top:14px }
.landing #social{
	text-align: center;
	padding-left: 10%;
	margin: 30px 0;
}
/*  video */
#js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 45.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
#js-video.widescreen {
  padding-bottom: 57.25%;
}
 
#js-video.vimeo {
  padding-top: 0;
}
#js-video embed, #js-video iframe, #js-video object, #js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 390px;
  position: absolute;
}
