//
// Navbars (Redux)
// --------------------------------------------------


// COMMON STYLES
// -------------

// Base class and wrapper
.navbar {
  overflow: visible;
  margin-bottom: @baseLineHeight;
  *{
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
  }

  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;
}

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  min-height: @navbarHeight;
  padding-left:  20px;
  padding-right: 20px;

  // Prevent floats from breaking the navbar
  .clearfix();
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: auto;
}

// Override the default collapsed state
.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}


// Brand: website or project name
// -------------------------
.navbar .brand {
  float: left;
  display: block;
  // Vertically center the text given @navbarHeight
  padding: (0 6% 10px 0);
//  margin-left: -20px; // negative indent to left-align the text down the page
  font-size: 20px;
  font-weight: 200;
  color: @navbarBrandColor;
  text-shadow: 0 1px 0 @navbarBackgroundHighlight;
  width: 12%;
  min-width: 105px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  img{
    width: 105px;
  }
}

// Plain text in topbar
// -------------------------
.navbar-text {
  margin-bottom: 0;
  line-height: @navbarHeight;
  color: @navbarText;
}

// Janky solution for now to account for links outside the .nav
// -------------------------
.navbar-link {
  color: @navbarLinkColor;
  &:hover,
  &:focus {
    color: @navbarLinkColorHover;
  }
}

// Dividers in navbar
// -------------------------
.navbar .divider-vertical {
  height: @navbarHeight;
  margin: 0 9px;
  border-left: 1px solid @navbarBackground;
  border-right: 1px solid @navbarBackgroundHighlight;
}

// Buttons in navbar
// -------------------------
.navbar .btn,
.navbar .btn-group {
  .navbarVerticalAlign(30px); // Vertically center in navbar
}
.navbar .btn-group .btn,
.navbar .input-prepend .btn,
.navbar .input-append .btn,
.navbar .input-prepend .btn-group,
.navbar .input-append .btn-group {
  margin-top: 0; // then undo the margin here so we don't accidentally double it
}

// Navbar forms
// -------------------------
.navbar-form {
  margin-bottom: 0; // remove default bottom margin
  .clearfix();
  input,
  select,
  .radio,
  .checkbox {
    .navbarVerticalAlign(30px); // Vertically center in navbar
  }
  input,
  select,
  .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  input[type="image"],
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
  .input-append,
  .input-prepend {
    margin-top: 5px;
    white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
    input {
      margin-top: 0; // remove the margin on top since it's on the parent
    }
  }
}





// Fixed navbar
// -------------------------

// Shared (top/bottom) styles
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: @zindexFixedNavbar;
  margin-bottom: 0; // remove 18px margin for default navbar
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}
.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left:  0;
  padding-right: 0;
  .border-radius(0);
}

// Reset container width
// Required here as we reset the width earlier on and the grid mixins don't override early enough
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  padding: 0 15px;
}

// Fixed to top
.navbar-fixed-top {
  top: 0;
  margin-top: 10px;
}
.navbar-fixed-top,
.navbar-static-top {
}

// Fixed to bottom
.navbar-fixed-bottom {
  bottom: 0;
}



// NAVIGATION
// ----------

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 1px 0 0;
  width: 500px
}
body .navbar .secondary {
  float: left; // redeclare due to specificity
  width: 100%;
  margin-right: -500px;
  .secondary-inner{
    margin-right: 500px;
    .icon-inner{
        float: right;
        width: 80px;
        padding-top: 7px;
        .icon-user.loggedin{
          color: @gold;
        }
    }
    #search-bar{
      margin-right: -80px;
      width: 100%;
      max-width: 520px;
      .search-box{
        margin-right: 80px;
        #showing{
          width: 125px;
          padding: 10px 0;
          text-align: center;
          float: left;
        }
        .input-container{
          width: 100%;
          float: left;
          margin-right: -125px;
          form{
            margin-bottom: 0;
          }
          .input-inner{
            margin-right: 125px;
            input{
              width: 96%;
              padding: 10px 2%;
            }
          }
        }
        
      }
    }
    li{
      float: right;
    }
    #showing{
      background: rgba(0,0,0,.7);
      padding: 10px 10px;
      color: #FFF;
      font-size: 12px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      float: left;
    }
    #search{
      float: left;
      width: 500px;
      margin: 0;
      background: rgba(255, 255, 255, 0.8);
      height: 40px;
      li{
        float: left;
        list-style: none;
        &.filter-dropdown{
          background: rgb(44, 44, 44);
          padding: 5px 20px 5px 5px;
          margin: 5px 0 0 5px;
          border-radius: 5px;
          color: rgb(223, 223, 223);
          position: relative;
          ul{
            margin: 0;
            width: 50px;
            li{
              float: none;
              width: 50px;
            }
            li:not(:first-child){display: none}
          }
          &.active ul{
              li{display: initial;}
          }
          .notch{
            position: absolute;
            top: 13px;
            right: 6px;
            margin: 0;
            border-bottom: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid rgb(187, 187, 187);
            padding: 0;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
            _border-right-color: pink;
            _border-left-color: pink;
            _filter: chroma(color=pink);
          }
        }
      }
    }
  }
  li.dropdown{
    &.open{
      > .dropdown-toggle{
        background: #FFF;
      }
    }
    #user-dropdown{
      right: -1px;
      left: initial;
      top: 30px;
      border-radius: 0;
      border-top: 0;
      li{
        width: 100%;
        a{
          color: @gray;
          font-size: 14px;
          padding: 10px;
          &:hover{
            background: @gold;
            color: #FFF;
          }
          &.secondary{
            padding: 5px;
            box-sizing: border-box;
            width: 100%;
            font-size: 12px;
            margin-bottom: 5px;
            text-align: left;
            &:hover{
              background: @gray;
              color: #FFF;
            }
          }
        }
        .facebookLogin{
          display: block;
          color: #FFF;
          background: #3d629c;
          &:hover{
            background: #3d629c;
          }
        }
      }
      form{
        width: 220px;
        margin: 0 4px;
      }
      form *{
        -webkit-touch-callout: text;
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        input{
          border-radius: 0;
          border: 0;
          background: rgb(236, 236, 236);
          width: 100%;
          box-sizing: border-box;
          height: 40px;
          margin-bottom: 4px;
        }
        .btn-gold{
          padding: 10px;
          background: #dab823;
          width: 100%;
        }
      }
    }
  }
  #search-input{
      background: rgba(255,255,255,.4);
      color: rgb(44, 44, 44);
      padding: 10px 6px;
      margin-right: 15px;
      .border-radius(0);
      border: 0;
      outline: 0;
      width: 290px;
      .placeholder(rgb(90, 90, 90)); 
      -webkit-touch-callout: text;
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
  }
  //icons
 .menu a{
    color: rgba(255,255,255,.9);
    font-size: 24px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    .count{
      font-size: 11px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 2px;
      background: #dab823;
      width: 16px;
      height: 16px;
      border-radius: 10px;
      font-weight: 700;
      line-height: 15px;
    }
    &:hover{
      color: #CCC;
      .count{
        color: #333;
      }
    }
  } 
}
.navbar .nav > li {
  float: left;
}

#shop-help{
  display: none;
}

// Links
body .navbar-fixed-top .container .nav > li > a {
  float: none;
  // Vertically center the text given @navbarHeight
  padding: (10px 29px);
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  &.brand{
    padding-top: 0;
    padding-left: 0;
  }
  &.active{
    background: #000;
    color: @gold;
  }
}
.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}

// Hover/focus
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover/:focus from .active
  color: @navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: @navbarLinkColorActive;
  text-decoration: none;
  background-color: @navbarLinkBackgroundActive;
  .box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
}

// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  .buttonBackground(darken(@navbarBackgroundHighlight, 5%), darken(@navbarBackground, 5%));
  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)");
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  .border-radius(1px);
  .box-shadow(0 1px 0 rgba(0,0,0,.25));
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}



// Dropdown menus
// --------------

// Menu position and menu carets
.navbar .nav > li > .dropdown-menu {
  &:before {
    content: '';
    display: inline-block;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: @dropdownBorder;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid @dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}
// Menu position and menu caret support for dropups via extra dropup class
.navbar-fixed-bottom .nav > li > .dropdown-menu {
  &:before {
    border-top: 7px solid #ccc;
    border-top-color: @dropdownBorder;
    border-bottom: 0;
    bottom: -7px;
    top: auto;
  }
  &:after {
    border-top: 6px solid @dropdownBackground;
    border-bottom: 0;
    bottom: -6px;
    top: auto;
  }
}

// Caret should match text color on hover/focus
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: @navbarLinkColorHover;
  border-bottom-color: @navbarLinkColorHover;
}

// Remove background color from open dropdown
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: @navbarLinkBackgroundActive;
  color: @navbarLinkColorActive;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: @navbarLinkColor;
  border-bottom-color: @navbarLinkColor;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: @navbarLinkColorActive;
  border-bottom-color: @navbarLinkColorActive;
}

// Right aligned menus need alt position
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;
  &:before {
    left: auto;
    right: 12px;
  }
  &:after {
    left: auto;
    right: 13px;
  }
  .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    .border-radius(6px 0 6px 6px);
  }
}

